.cv-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: clamp(124px, 20.84vw, 200px) clamp(359px, 60.33vw, 580px) repeat(
      12,
      calc(289px / 12)
    );
  padding: 3.56% 3.36%;
  column-gap: 8px;
  row-gap: 0;
}

.cv-container > * {
  border-radius: 12px;
  padding: 2.017vw;
}

.avatar,
.greeting,
.languages,
.experience,
.tools {
  margin-bottom: 8px;
}

.avatar {
  grid-column: 1 / 4;
  grid-row: 1;
  background-image: url("../img/profile.png"); /* Устанавливаем изображение */
  background-size: cover; /* Заполняет блок изображением */
  background-position: center; /* Центрирует изображение */
  background-repeat: no-repeat; /* Не повторяет изображение */
  /* aspect-ratio: 1/1; */
}

.avatar,
.greeting,
.languages {
  /* height: 20.84vw; */
}
.greeting {
  grid-column: 4 / 7;
  grid-row: 1;
  background-color: #f0f0f0;
  /* aspect-ratio: 1/1; */
  display: flex;
  flex-direction: column;
}

.greeting .greeting-title {
  font-size: 1rem;
  overflow-wrap: break-word;
  margin-bottom: auto;
}

.greeting .greeting-subtitle:first-of-type {
  font-size: 1.4rem;
  overflow-wrap: break-word;
  font-weight: 700; /* Добавлено для усиления жирности */
}

.greeting .greeting-subtitle:nth-child(3) {
  color: #5c5c5c;
}

.greeting .greeting-subtitle:last-of-type {
  font-size: 1.2rem;
  overflow-wrap: break-word;
}

.languages {
  grid-column: 7 / 13;
  grid-row: 1;
  background-color: #f0f0f0; /* Светло-зеленый */
  display: flex;
  flex-direction: column;
  /* height: 120.05px !important; */
  /* aspect-ratio: 267/124 */
}

.languages-title {
  margin-bottom: auto;
}

.languages-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.language-item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.language-name {
  min-width: 90px; /* prevents text overlap with bar */
  font-weight: 500;
}

.progress {
  flex: 1;
  background-color: #e0e0e0;
  height: 11px;
  border-radius: 3px;
  overflow: hidden;
}

.progress-bar {
  background-color: #28d979;
  height: 100%;
  border-radius: 3px;
}
